
<div ng-controller="HomeCtrl" ng-init="initialize()">

  <!-- header -->
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="" style="margin-left: 20px;">
        <a href="#" class="brand">Departure</a>
      </div>
    </div>

  </div>

  <div class="" style="position: fixed; width: 100%; height: 100%;">
    <leaflet defaults="map.defaults" center="map.center" markers="map.markers" layers="map.layers" height="100%" width="100%"></leaflet>
  </div>

</div>
